---
import { oneIDAct } from '../../../../backend.mjs';
import Layout from '../../../layouts/Layout.astro';
const { id } = Astro.params;
const act = await oneIDAct(id);
console.log(act);

if (!act) {
  return Astro.redirect('/');
}
---

<Layout title={act.Nom} class="font-mono">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
      <h1 class="text-3xl font-bold text-center mb-8">{act.Nom}</h1>
      <!-- Conteneur centré -->
      <div class="flex justify-center">
        <div class="w-full max-w-md bg-gray-50 border border-gray-200 shadow-md rounded-lg overflow-hidden transition transform hover:scale-105 hover:shadow-xl">
          <img class="w-full h-auto object-cover" src={act.imgUrl} alt={act.Nom} />
          <div class="p-4">
            <h2 class="text-xl font-bold text-gray-800 mb-2">{act.Nom}</h2>
            <p class="text-gray-700 mb-4">{act.Description}</p>
            <div class="text-sm text-gray-600 space-y-1">
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </Layout>