---
// src/components/ActivityCard.astro
import { Picture } from 'astro:assets';
const { ...activity } = Astro.props;
---

<div class="bg-gray-50 border border-gray-200 shadow-md rounded-lg overflow-hidden transition transform hover:scale-105 hover:shadow-xl">
  <img class="w-full h-auto object-cover" src={activity.imgUrl} alt={activity.Nom} />
  <div class="p-4">
    <h2 class="text-xl font-bold text-gray-800 mb-2">{activity.Nom}</h2>
    <!-- <p class="text-gray-700 mb-4">{activity.Description}</p> -->
    <div class="text-sm text-gray-600 space-y-1">
      <p><strong>Catégorie :</strong> {activity.Description}</p>
      <p><strong>Date :</strong> {activity.Date}</p>
        <p><strong>Animateur :</strong> {activity.expand.animateurs.Nom}</p>
      <a 
        href={`catalogue/activites/${activity.id}`} 
        class="inline-block bg-blue-500 text-white px-4 py-2 rounded-lg shadow-md hover:bg-blue-600 transition transform hover:scale-105"
      >
        Plus d'info
      </a>
    </div>
  </div>
</div>